<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserMapper">

	<insert id="insert" parameterType="User">
		insert into user(user_id, password, name, age, email, phone, address, reg_date)
		 values(#{user_id},#{password}. #{name}, #{age}, #{email}, #{phone}, #{addres}, sysdate())
	</insert>

	<select id="getList" resultType="User">
		select * from user
	</select>
	
</mapper>